.DS_Store

L1544/*.tbl
L1544/*.fits
L429/*.tbl
L429/*.fits
L1552/*.tbl
L1552/*.fits
L1521E/*.tbl
L1521E/*.fits
CB68/*.tbl
CB68/*.fits

L1544/curves_of_growths/*
L1552/curves_of_growths/*
L1521E/curves_of_growths/**
L429/curves_of_growths/*
CB68/curves_of_growths/*
Papers/
keys/

	L1544/L1544_Ks_sex_t3_r40.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r10.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r15.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r20.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r22.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r24.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r26.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r28.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r30.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r32.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r34.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r36.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r38.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r40.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r42.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r44.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r46.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r48.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r5.txt
	L1544/curve_of_growths/L1544_H_sex_2m_r50.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r10.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r15.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r20.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r22.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r24.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r26.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r28.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r30.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r32.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r34.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r36.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r38.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r40.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r42.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r44.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r46.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r48.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r5.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r50.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r52.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r54.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r56.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r58.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r60.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r62.txt
	L1544/curve_of_growths/L1544_J_sex_2m_r64.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r10.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r15.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r20.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r22.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r24.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r26.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r28.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r30.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r32.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r34.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r36.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r38.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r40.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r42.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r44.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r46.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r48.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r5.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r50.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r52.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r54.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r56.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r58.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r60.txt
	L1544/curve_of_growths/L1544_Ks_sex_2m_r62.txt
	L1552/L1552_H_sex_t3_r28.txt
	L1552/L1552_J_sex_t3_r28.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r10.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r15.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r18.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r20.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r22.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r24.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r26.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r28.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r30.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r32.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r34.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r36.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r38.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r40.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r42.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r44.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r46.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r48.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r5.txt
	L1552/curve_of_growths/L1552_H_sex_2m_r50.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r10.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r15.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r18.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r20.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r22.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r24.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r26.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r28.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r30.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r32.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r34.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r36.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r38.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r40.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r42.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r44.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r46.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r48.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r5.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r50.txt
	L1552/curve_of_growths/L1552_J_sex_2m_r9.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r10.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r15.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r18.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r20.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r22.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r24.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r26.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r28.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r30.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r32.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r34.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r36.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r38.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r40.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r42.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r44.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r46.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r48.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r5.txt
	L1552/curve_of_growths/L1552_Ks_sex_2m_r50.txt
	L429/L429_H_sex_t3_r22.txt
	L429/L429_J_sex_t3_r22.txt
	L429/L429_Ks_sex_t3_r22.txt
	L429/curve_of_growths/L429_H_sex_2m_r10.txt
	L429/curve_of_growths/L429_H_sex_2m_r15.txt
	L429/curve_of_growths/L429_H_sex_2m_r18.txt
	L429/curve_of_growths/L429_H_sex_2m_r20.txt
	L429/curve_of_growths/L429_H_sex_2m_r22.txt
	L429/curve_of_growths/L429_H_sex_2m_r24.txt
	L429/curve_of_growths/L429_H_sex_2m_r26.txt
	L429/curve_of_growths/L429_H_sex_2m_r28.txt
	L429/curve_of_growths/L429_H_sex_2m_r30.txt
	L429/curve_of_growths/L429_H_sex_2m_r32.txt
	L429/curve_of_growths/L429_H_sex_2m_r34.txt
	L429/curve_of_growths/L429_H_sex_2m_r36.txt
	L429/curve_of_growths/L429_H_sex_2m_r38.txt
	L429/curve_of_growths/L429_H_sex_2m_r40.txt
	L429/curve_of_growths/L429_H_sex_2m_r42.txt
	L429/curve_of_growths/L429_H_sex_2m_r44.txt
	L429/curve_of_growths/L429_H_sex_2m_r46.txt
	L429/curve_of_growths/L429_H_sex_2m_r48.txt
	L429/curve_of_growths/L429_H_sex_2m_r5.txt
	L429/curve_of_growths/L429_H_sex_2m_r50.txt
	L429/curve_of_growths/L429_J_sex_2m_r10.txt
	L429/curve_of_growths/L429_J_sex_2m_r15.txt
	L429/curve_of_growths/L429_J_sex_2m_r18.txt
	L429/curve_of_growths/L429_J_sex_2m_r20.txt
	L429/curve_of_growths/L429_J_sex_2m_r22.txt
	L429/curve_of_growths/L429_J_sex_2m_r24.txt
	L429/curve_of_growths/L429_J_sex_2m_r26.txt
	L429/curve_of_growths/L429_J_sex_2m_r28.txt
	L429/curve_of_growths/L429_J_sex_2m_r30.txt
	L429/curve_of_growths/L429_J_sex_2m_r32.txt
	L429/curve_of_growths/L429_J_sex_2m_r34.txt
	L429/curve_of_growths/L429_J_sex_2m_r36.txt
	L429/curve_of_growths/L429_J_sex_2m_r38.txt
	L429/curve_of_growths/L429_J_sex_2m_r40.txt
	L429/curve_of_growths/L429_J_sex_2m_r42.txt
	L429/curve_of_growths/L429_J_sex_2m_r44.txt
	L429/curve_of_growths/L429_J_sex_2m_r46.txt
	L429/curve_of_growths/L429_J_sex_2m_r48.txt
	L429/curve_of_growths/L429_J_sex_2m_r5.txt
	L429/curve_of_growths/L429_J_sex_2m_r50.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r10.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r15.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r18.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r20.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r22.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r24.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r26.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r28.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r30.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r32.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r34.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r36.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r38.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r40.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r42.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r44.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r46.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r48.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r5.txt
	L429/curve_of_growths/L429_Ks_sex_2m_r50.txt
