.DS_Store

L1544/*.tbl
L1544/*.fits
L429/*.tbl
L429/*.fits
L1552/*.tbl
L1552/*.fits
L1521E/*.tbl
L1521E/*.fits
CB68/*.tbl
CB68/*.fits

L1544/curves_of_growths/*
L1552/curves_of_growths/*
L1521E/curves_of_growths/**
L429/curves_of_growths/*
CB68/curves_of_growths/*
Papers/
keys/
